# Cognito User Pool ID (e.g. eu-central-1_XXXXXXXXX)
VITE_COGNITO_USER_POOL_ID=eu-central-1_ONdEQdRiz

# Cognito User Pool App Client ID (no secret - public client)
VITE_COGNITO_CLIENT_ID=125qmbhi8kogfpoc65tdg8kpd4
